
<table>
    <tr>
        <td>
            <strong>@Html.Label("Id : ")</strong>
        </td>
        <td>
            @Html.TextBox("txtName")
        </td>
    </tr>
    <tr>
        <td>
            <strong>@Html.Label("Name : ")</strong>
        </td>
        <td>
            @Html.TextBox("txtAdd1")
        </td>
    </tr>
    <tr>
        <td>
            <strong>@Html.Label("Email : ")</strong>
        </td>
        <td>
            @Html.TextBox("txtAdd2")
        </td>
    </tr>
    <tr>
        <td>
            <strong>@Html.Label("Phone : ")</strong>
        </td>
        <td>
            @Html.TextBox("txtCity : ")
        </td>
    </tr>
    
</table> 